@model Login
@{
    ViewData["Title"] = "Home Page";
}


<br /><br />


<center>
    <h1 class="text-danger">@ViewBag.Mensagem </h1>
</center>
<br /><br />
<center>


    <div class="menu bg-info">
        <form method="post">

            <br /> <br />
            <label class="form-label text-light" asp-for="user">User</label>
            <input class="form-control" asp-for="user" />

            <br />
            <label class="form-label text-light" asp-for="password">Password</label>
            <input type="password" class="form-control" asp-for="password" />

            <br /><br />
            <button class="btn btn-light" type="submitt">Entrar</button>

        </form>

    </div>

</center>